footer {
    display: flex;
    padding: 24px 0;
    font: var(--font-md);
}

#information {
    margin-left: auto;
    color: var(--text-color-secondary);
}

#termos {
    padding-right: 16px;
}

#travelgram {
    color: var(--text-color-secondary);
}